<h4 class="form_heading">Loan Info</h4>
<ul>
    <li>
    {% match entity %}
        {% when Some with (entity) %}
        <input type="text" class="field-style field-split align-left" name="entry_name" id="entry_name" pattern="[0-9]{0,6}" value="{{entity.entry_name}}" />
        {% when None %}
        <input type="text" class="field-style field-split align-left" name="entry_name" id="entry_name" pattern="[0-9]{0,6}" value="" />
    {% endmatch %}
    <select class="field-style field-split align-right" id="entry_type" name="entry_type" value="" >
        {% for option in entry_type_options %}
            {% if let Some(entity) = entity %}
            {% if option.value == entity.entry_type_id %}
                <option value="{{option.value}}" selected="true">{{option.key}}</option>
            {% else %} 
                <option value="{{option.value}}">{{option.key}}</option>
            {% endif %} 
            {% else %}
            <option value="{{option.value}}">{{option.key}}</option>
            {% endif %}
        {% endfor %}
    </select>
    </li>
    <li>
        {% match entity %}
            {% when Some with (entity) %}
            <input type="textarea" placeholder='Enter comment...' rows="5" cols="33" class="field-style" name="writing_sample" id="writing_sample" value="{{entity.writing_sample}}" />
            {% when None %}
            <input type="textarea" placeholder='Enter comment...' rows="5" cols="33" class="field-style" name="writing_sample" id="writing_sample" value="" />
        {% endmatch %}
    </li>
  </ul>