html {
	background: #343234;
}

body {
	background: #343234;
  color:rgb(200, 211, 214);
  width: 80%;
  margin: auto;
}

form {
  width: 80%;
  margin: auto;
}

.auth fieldset {
  text-align: center;
}

.auth input {
  border: 2px solid #63b4ee;
}

.auth label {
  text-align: center;
}

.auth_footer {
  text-align: center;
}

.auth_submit {
  text-align: center;
  margin-top: 2%;
}

a:link {
  color: rgb(194, 186, 246);
}
a:visited {
  color: rgb(242, 188, 235);
}
a:hover {
  color: rgb(157, 220, 166);
}
a:active {
  color: rgb(102, 78, 237);
}

label {
    display: block;
    margin-bottom: 5px;
}
.main_header {
    color: rgb(202, 228, 237);
    font-size: large;
    text-align: center;
}

.main_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main_btn:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* Nav */
nav {
  border-bottom: 1px solid black;
  overflow: hidden;
}
  
.crumb {
  display: inline-block;
}
  
.crumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:rgb(200, 211, 214);
}

.crumbs li {
  float: left;
}

.crumbs li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.crumbs li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(231, 187, 235);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.icon-large {
  width: 50px;
  height: 50px;
}
.icon-small {
  width: 20px;
  height: 20px;
}
.icon-light-background {
  fill: black;
}
.icon-dark-background {
  fill: white;
}

/* Offer */
.grid_wrap {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  height: 400px;
  align-content: center;
}

.offer_list {
  list-style-type: none;
}

.offer_list li {
  display: block;
}

.card {
  background-color: rgb(192, 151, 203);
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}