html {
	background: #343234;
}

body {
	background: #343234;
  color:rgb(200, 211, 214);
  width: 80%;
  margin: auto;
}

input[type="date"]{
  background-color: #a2c3e5;
  padding: 15px;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

input[type=textarea] {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.two_col_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* input[type="time"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="time"]:focus:before,
input[type="time"]:valid:before {
  content: "";
} */

#application_form {
  margin: auto;
}

/***********
** Errors **
***********/
#api_error {
  border: 2px solid rgb(227, 87, 87);
  margin: 20px auto;
  width: 80%;
  text-align: center;
  padding: 0;
  list-style-type: none;
  color: rgb(245, 54, 54);
}

/* error_div are lists */

#error_div {
  padding: 0;
  list-style-type: none;
  color: rgb(245, 54, 54);
}

#error_div li:not(:last-child) { 
  border-bottom: 1px solid rgb(13, 8, 42); 
}

.error_msg {
  color: rgb(244, 64, 64);
  font-weight: bold;
  font-size: small;
}

.success_msg {
  color: green;
  font-weight: bold;
  font-size: small;
}

/*****************
** Address Form **
*****************/

.form-style ul li .field-state{
	width: 11%;
}
.form-style ul li .field-city{
	width: 66%;
}
.form-style ul li .field-zip{
	width: 20%;
}

.form-style ul li .field-addr-one{
	width: 68%;
}
.form-style ul li .field-addr-two{
	width: 29%;
    float:right;
}

.form-style ul li textarea{
	width: 100%;
	height: 100px;
}
.submit_button {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Helvetica, sans-serif;
}
.form-style ul li button:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

/**************
**** Login ****
**************/
#login_errors {
  color: red;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.form_link_container {
  width: 60%;
  margin: 2% auto;
  border-radius: 10px;
  padding: 8px 0;
  text-align: center;
}

  /* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
  .login-form span.psw {
      display: block;
      float: none;
  }
}

/*************
**** Form ****
*************/

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

select {
  margin: 8px 0;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
  width: 100%;
  padding: 12px 8px;
  border-radius: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #232121;
  box-sizing: border-box;
}

.form-style {
  /* max-width: 450px; */
  width: 80%;
  margin: auto;
  background: #FAFAFA;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72;
}

.form-style label {
  font-size: small;
}

.form-style ul{
  padding:0;
  margin:0;
  list-style:none;
}

.form-style h1 {
  text-align: center;
}

.form-style ul li{
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}

.form-style a {
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}

.form-style ul li .field-style{
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #B0CFE0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  }.form-style ul li  .field-style:focus{
  box-shadow: 0 0 5px #B0CFE0;
  border:1px solid #B0CFE0;
}
.form-style ul li .field-split{
  width: 49%;
}
.form-style ul li .field-full{
  width: 100%;
}
.form-style ul li input.align-left{
  float:left;
}
.form-style ul li input.align-right{
  float:right;
}
#password_match {
  text-align: center;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  text-align: left;
  text-indent: 25px;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align-right {
  float: right;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  display: inline-block;
  background: lightgrey;
  height: 1.05rem;
  width: 1.05rem;
  vertical-align: middle;
  border-radius: 2rem;
  box-shadow: 0px 1px 3px #0003 inset;
  transition: 0.25s linear background;
}

input[type="checkbox"]:checked {
  background: green;
}
input[type="checkbox"]:checked::before {
  transform: translateX(1rem);
}

input[type="checkbox"]:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}

form {
  width: 80%;
  margin: auto;
  line-height: 2;
  & h4, label {
    color: black;
  }
}

.auth fieldset {
  text-align: center;
  width: 60%;
  margin: auto;
}

.auth input {
  border: 2px solid #63b4ee;
}

.auth label {
  text-align: center;
}

.auth_footer {
  text-align: center;
}

.auth_submit {
  text-align: center;
  margin-top: 2%;
}

a:link {
  color: rgb(194, 186, 246);
}
a:visited {
  color: rgb(242, 188, 235);
}
a:hover {
  color: rgb(157, 220, 166);
}
a:active {
  color: rgb(102, 78, 237);
}

label {
    display: block;
    margin-bottom: 5px;
}
.main_header {
    color: rgb(202, 228, 237);
    font-size: large;
    text-align: center;
}

.main_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main_btn:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* Nav */
nav {
  border-bottom: 1px solid black;
  overflow: hidden;
}

.right_nav {
  float: right;
}
  
.crumb {
  display: inline-block;
}
  
.crumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:rgb(200, 211, 214);
}

.crumbs li {
  float: left;
}

.crumbs li a, .dropbtn {
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.crumbs li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(231, 187, 235);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5b535c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.icon-large {
  width: 50px;
  height: 50px;
}
.icon-small {
  width: 20px;
  height: 20px;
}
.icon-light-background {
  fill: black;
}
.icon-dark-background {
  fill: white;
}

/* Offer */
.grid_wrap {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  height: 400px;
  align-content: center;
}

.offer_list {
  list-style-type: none;
}

.offer_list li {
  display: block;
}

.card {
  background-color: rgb(192, 151, 203);
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

/* Animation */
.center {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.offers_template_offers input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.offers_template_offers label {
  display: inline-block;
  cursor: pointer;
  /* background-color: #ddd; */
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #dfd4e4;
  border-radius: 10px;
}

.offers_template_offers input[type="radio"]:checked + label {
  /* background-color:#bfb; */
  border-color: rgb(26, 253, 64);
}

/* .offers_template_offers input[type="radio"]:focus + label {
  border: 2px dashed #444;
} */

.offers_template_offers label:hover {
  background-color: rgb(34, 32, 34);
}