{% extends "base.html" %}

{% block title %}Users{% endblock %}

{# Only require nav elements on semi-base or base templates #}
{% block nav %}
  {% include "nav.html" %}
{% endblock %}

{% block content %}
  {% if let Some(message) = message %}
  <span><strong>{{ message }}</strong></span>
  {% endif %}
<div id="application_form">
  <h1 class="main_header">Application for Loan</h1>
  <div class="form-style">
    {% if let Some(entity) = entity %}
      <h2 id="application_form_header" class="text-center">Edit App</h2>
    {% else %}
      <h2 id="application_form_header" class="text-center">New App</h2> 
    {% endif %}
    <div id="application_errors"></div>
    <form 
      hx-boost="true"
        action="/apply" 
        method="post"
        hx-target="#application_form"
        hx-push-url="/apply/offers"
        hx-target-400="#application_errors"
        hx-target-404="#application_errors"
        hx-target-4*="#application_errors"
        hx-headers='{"Content-Type": "multipart/form-data"}'
        hx-swap="innerHTML"
    >

    {% include "form/address.html" %}

    {% include "form/loan_info.html" %}

    {% include "form/history.html" %}

    <li>
      <div>
        <button class="field-style field-split align-left submit_button" type="reset">Clear Form</button>
        <button class="field-style field-split align-right submit_button" type="submit">Submit</button>
      </div>
    </li>

    </form>
  </div>
</div>
  {% call super() %}
{% endblock %}