<!DOCTYPE html>
<html lang="en">
	<head>
        <title>{% block title %}{{ title }} - Tokio Actors{% endblock %}</title>
        {% block head %}{% endblock %}
		<!-- we'll use Tower middlewar middleware to serve this static content soon-->
		<link href="/assets/styles.css" rel="stylesheet" type="text/css">
        <!-- htmx from the unpkg CDN - your mileage may vary -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <!-- SSE Extension -->
        <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
	</head>
    <nav class="crumbs">
        <ul>
            <li class="crumb"><a href="/">Home</a></li>
            <li class="crumb"><a href="/users">Users</a></li>
            <li class="crumb"><a href="/about">About Us</a></li>
            <li class="crumb"><a href="/contact">Contact</a></li>
                {% block nav %}
                {% endblock %}
        </ul>
    </nav>
    <body>
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>