{% block content %}
  {% if let Some(message) = message %}
  <span><strong>{{ message }}</strong></span>
  {% endif %}
  <h1 class="main_header">Famous Similars</h1>
    {% if details.author_count > 1 %}
        <div id="highest_similar">
            <h1>{{details.author_name}}</h1>
            <p>Your writing style is most similar to the style of {{details.author_name}} than any other: #({{details.author_count}})</p>
        </div>
    {% endif %}
    <div class="offers_template_offers">
        <ul class="similars_list">
        {% for result in results %}
            <li class="similars_list_item">
                <p>Author: {{ result.author_name }}</p>
                <p>Type: {{ result.entry_type_id }}</p>
                <p>Entry: {{ result.writing_sample }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}